body {
  background-color: antiquewhite;
  margin: 0 5%;
}

h2 {
  display: inline;
}

.score {
  display: flex;
}

.score-board {
  margin-top: 5%;
  width: 45%;
  padding: 0 7%;
}

.name-scores {
  border: 1px solid black;
  margin-top: 5%;
}

.submit {
  position: relative;
  left: 35%;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 18px;
  height: 30px;
}

p {
  padding: 2px 6px;
  font-size: 20px;
  margin: 0;
}

p:nth-child(even) {
  background-color: dimgray;
}

.add-scores {
  text-align: center;
  margin-top: 8%;
  width: 30%;
}

#name-input,
#score-input {
  display: block;
  padding: 2% 0;
  width: 92%;
}

#name-input {
  margin-top: 35px;
  margin-bottom: 10px;
}

#score-input {
  margin-bottom: 10px;
}
