body {
  background-color: antiquewhite;
  margin: 0 5%;
}

.leaderboard {
  text-align: center;
  color: rgb(160, 113, 136);
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  display: inline;
  color: rgb(58, 59, 173);
}

.score {
  display: flex;
}

.score-board {
  margin-top: 5%;
  width: 45%;
  padding: 0 7%;
}

.name-scores {
  border: 1px solid rgb(168, 162, 162);
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  overflow: scroll;
  height: 400px;
}

.submit {
  position: relative;
  left: 35%;
  cursor: pointer;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 18px;
  height: 30px;
  cursor: pointer;
  color: rgb(80, 21, 21);
}

p {
  padding: 2px 6px;
  font-size: 20px;
  margin: 0;
  cursor: pointer;
}

p:nth-child(even) {
  background-color: rgb(167, 165, 165);
}

.add-scores {
  text-align: center;
  margin-top: 8%;
  width: 30%;
}

.input-wrapper {
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  padding-bottom: 25px;
  background-color: rgb(167, 165, 165);
}

#name-input,
#score-input {
  display: block;
  padding: 2% 3%;
  width: 92%;
}

#name-input {
  margin-top: 35px;
  margin-bottom: 10px;
}

#score-input {
  margin-bottom: 10px;
}
